<div class="sidebar">
    <div class="create-space">
        <div>+</div>
        <div style="margin-left: .6rem; color: 939598;">Create Space</div>
    </div>

    <div class="sidebar-items">
        <ul>
            <li><b>Mathematics</b></li>
            <li><b>Technology</b></li>
            <li><b>Business</b></li>
            <li><b>Science</b></li>
            <li><b>Books</b></li>
        </ul>
    </div>
    
    <div style="width: 50%; height: .01rem; background-color: #939598; position: relative; left: 25%; margin: 1rem;"></div>

    <div class="sidebar-options">
        <p>About • Career •</p>
        <p>Terms • Privacy •</p>
        <p>Acceptable Use •</p>
        <p>Advertise • Press •</p>
        <p>Your Ad Choices •</p>
        <p>Grievance Officer</p>
    </div>
</div>